IF CONDITION

In [2]:
a = 100
b = 200
if (b > a) :
    print("b is geater than a")
print("printed anyways")

b is geater than a
printed anyways

IF-ELIF-ELSE CONDITION

In [4]:
if (a > b):
    print("a is greater than b")
elif (b>a):
    print("b is greater than a")
else:
    print(" a and b are equal")

b is greater than a

GREATEST AMONG THREE INETGERS

In [6]:
a = 10
b=13
c=12
if (a>b):
    if(a>c):
        k = a
        print("a is greatest")
    else:
        k=c
        print("c is greatest")
else:
    if (b>c):
        k=b
        print("b is greatest")
    else:
        k=c
        print("c is greatest")

print("The greatest value among thre integers is :",k)

b is greatest
The greatest value among thre integers is : 13

WHILE LOOP

In [8]:
i=1
while i < 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

FOR LOOP

In [10]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [11]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(10):
    if i == 0:
        print(i)
    else:
        i+=2
        print(i)

0
3
4
5
6
7
8
9
10
11

PRIME NUMBERS

In [24]:
num= int(input("Enter the number : "))

if (num > 1):
    for i in range(2,num):
        if (num%i) == 0:
            print(num,"is not a prime number")
            break
        else:
            print(num,"is a prime number")
            break
else:
    print(num,"is not a prime number")

Enter the number :  11

11 is a prime number

CHECKING PRIME NUMBER IN LOWER & UPPER LIMIT RANGE

In [64]:
lower = int(input("Enter the lower number : "))
upper = int(input("Enter the upper number : "))
num = int(input("Enter the number to be checked : "))

if num < lower or num > upper:
    print(num,"is not in range")
    
else:
    if (num < 2):
        print(num,"is not a prime")
    else:
        for i in range(2,num):
            if (num%i)==0:
                print(num,"is not a prime")
                break
        else:
                print(num,"is a prime")

Enter the lower number :  10
Enter the upper number :  20
Enter the number to be checked :  19

19 is a prime

LIST (for loop)

In [68]:
list = ["qwe","asd","zxc","rty"]
for i in range(len(list)):
    print(list[i])

qwe
asd
zxc
rty

In [70]:
for element in list:
    print(element)

qwe
asd
zxc
rty

In [76]:
num = [1,2,3,4]
for elements in num:
    print(elements)
else:
    print("Completed")

1
2
3
4
Completed

In [1]:
list = [1,2,'cute',4.33]
list.insert(2,'cold')
print(list)

[1, 2, 'cold', 'cute', 4.33]

In [5]:
list.remove('cute')
print(list)

[1, 2, 'cold', 4.33]

POPPING TOP OF LIST

In [7]:
list.pop()

4.33

APPEND ON LIST

In [9]:
list1 = [1,2,3]
list2 = ['happy','sad','mad']
list1.append(list2)
print(list1)

[1, 2, 3, ['happy', 'sad', 'mad']]

EXTEND ON LIST

In [13]:
new1 = [1,2,3,4]
new2 = ['happy','sad','mad']
new1.extend(new2)
print(new1)

[1, 2, 3, 4, 'happy', 'sad', 'mad']

In [22]:
list = [1,2,3,4,5,6,7]
if 2 in list:
    print("2 is there here")
if 8 in list:
    print("8 is not there here")
print(list)

2 is there here
[1, 2, 3, 4, 5, 6, 7]

In [24]:
num = [3,2,1,6,3,4,9,0]
num1 = sorted(num)
print(num1)

[0, 1, 2, 3, 3, 4, 6, 9]

In [30]:
num.reverse()
print(num)

[0, 9, 4, 3, 6, 1, 2, 3]

In [9]:
num1 = [1,2,3,4,5,6,7,8,9,10]
print(num1[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
print(num1[::2])

[1, 3, 5, 7, 9]

In [13]:
print(num1[2::2])

[3, 5, 7, 9]

In [19]:
print(num1[-2::2])
print(num1[-2::])

[9]
[9, 10]

In [44]:
num2 = num + num1
print(num2)

[0, 9, 4, 3, 6, 1, 2, 3, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
print(num2.count(0))

1

In [50]:
print(num2.count(3))

3

In [1]:
sq = []
for i in range(10):
    sq.append(i**2)
print(sq)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

LIST COMPREHENSION

In [3]:
sq = [i**2 for i in range(10)]
print(sq)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
eww1 = [1,2,3,4,4567,-98]
eww2 = [i*2 for i in eww1]
print(eww2)

[2, 4, 6, 8, 9134, -196]

In [30]:
pairtype = [(i,i*3) for i in range(10)]
print(pairtype)

[(0, 0), (1, 3), (2, 6), (3, 9), (4, 12), (5, 15), (6, 18), (7, 21), (8, 24), (9, 27)]

In [34]:
morethan2type = [(i,i*3,i**4) for i in range(10)]
print(morethan2type)

[(0, 0, 0), (1, 3, 1), (2, 6, 16), (3, 9, 81), (4, 12, 256), (5, 15, 625), (6, 18, 1296), (7, 21, 2401), (8, 24, 4096), (9, 27, 6561)]

TUPLE

In [40]:
t = (1,2,3,4,5,'cute','bear')
print(t)

(1, 2, 3, 4, 5, 'cute', 'bear')

In [60]:
print(t[:])

(1, 2, 3, 4, 5, 'cute', 'bear')

In [75]:
print(t[2::2])
print(t[::2])
print(t[2:5])
print(t[2:6])
print(t[-2])
print(t[-3:])

(3, 5, 'bear')
(1, 3, 5, 'bear')
(3, 4, 5)
(3, 4, 5, 'cute')
cute
(5, 'cute', 'bear')

TUPLE IN TUPLE

In [42]:
t1 = ((1,2,3),(45,6,8),('cute','bear'),'hello','may god bless you')
print(t1)

((1, 2, 3), (45, 6, 8), ('cute', 'bear'), 'hello', 'may god bless you')

LIST IN TUPLE

In [85]:
t2 = ([1,2,3],(45,6,8),('cute','bear'),'hello','may god bless you')
print(t2)
print(t2[2][1])
print(t2[4])

([1, 2, 3], (45, 6, 8), ('cute', 'bear'), 'hello', 'may god bless you')
bear
may god bless you

In [50]:
print(type(t2))

<class 'tuple'>

SINGLE VALUED TUPLE

In [56]:
t3 = 'cute cat',
print(type(t3))

<class 'tuple'>

In [58]:
t4 = ('cute cat',)
print(type(t4))

<class 'tuple'>

CONCAT TUPLE

In [87]:
concat = (1,2,3,5)+(0,1,2,3)
print(concat)

(1, 2, 3, 5, 0, 1, 2, 3)

In [91]:
multiple = (('APPLE',)*9)
print(multiple)

('APPLE', 'APPLE', 'APPLE', 'APPLE', 'APPLE', 'APPLE', 'APPLE', 'APPLE', 'APPLE')

In [93]:
del multiple

In [103]:
t = (1,2,3,4,5,'cute','bear')
print("IS cute PRESENT IN t?",'cute' in t)
print("IS 7 PRESENT IN t?",7 in t)

IS cute PRESENT IN t? True
IS 7 PRESENT IN t? False

In [107]:
print("legnth of t :",len(t))

legnth of t : 7

In [111]:
t1 = [1,4,5,234,5378,51,24,89]
print(sorted(t1))

[1, 4, 5, 24, 51, 89, 234, 5378]