**OPERATORS - USED FOR ARTHIMETIC AND LOGICAL COMPUTATION TASKS**

TYPES : ARITHMETIC, RELATIONAL, LOGICAL, BITWISE, ASSIGNMENT, SPECIAL OPERATORS

In [1]:
x,y = 30,10

In [2]:
print(x+y)
print(x-y)
print(y-x)

40
20
-20

In [3]:
print(x*y)
print(x/y)

300
3.0

In [4]:
print(x//y) # first divide and then take floor value

3

In [5]:
print(y**x) # Y raise to x

1000000000000000000000000000000

In [6]:
print(x**y) # X raise to Y

590490000000000

In [7]:
print(y != x)

True

In [8]:
print(x%y) # modulus

0

RELATIONAL

In [18]:
a,b = 1,0

In [22]:
print(a and b)
print(a or b)

0
1

In [5]:
p,q = True, False
print("REALTIONAL AND OPERATION ON (p,q):",p and q)
print("REALTIONAL OR OPERATION ON (p,q) :",p or q)

REALTIONAL AND OPERATION ON (p,q): False
REALTIONAL OR OPERATION ON (p,q) : True

BITWISE

In [15]:
print("BITWISE AND OPERATION ON (p,q):",p & q)
print("BITWISE OR OPERATION ON (p,q) :",p | q)

BITWISE AND OPERATION ON (p,q): False
BITWISE OR OPERATION ON (p,q) : True

In [22]:
r,s = 200,300
print("BITWISE AND OPERATION ON (r,s):",r&s)
print("BITWISE OR OPERATION ON (r,s) :",r|s)
# DECIMAL -> BINARY CONVERSION -> BINARY OPERATION ON BINARY INPUTS -> RESULTANT IS BINARY OUTPUT -> CONVERTING BINARY OUTPUT TO DECIMAL

BITWISE AND OPERATION ON (r,s): 8
BITWISE OR OPERATION ON (r,s) : 492

In [24]:
e = 50
e += 150
print("NEW e : ", e)

NEW e :  200

In [28]:
f = 350
print("e is f", e is f)

e is f False

In [30]:
# IS checks whether two variables reference the same object in memory
# Python has created 2 DIFFERENT LISTS with SAME CONTENT at 2 DIFFERENT LOCATIONS
h = [1,2,3,4]
i = [1,2,3,4]
print("h is i", h is i)

h is i False

In [42]:
# Comparing contents inside objects created 
print("h is i",h == i)

h is i True

CACHING OF SMALL INTEGER CONCEPT

In [46]:
V = 10
W =10
print(V is W) # small integers are cached in python

True

In [36]:
X = 257
Y = 257
print(X is Y)  # large inetgers are not cached

False

OTHERS

In [52]:
print(1 in h)

True

In [68]:
f = { 'student' : "jennie", 'teacher' : "Prof. Curie"}
print('student' in f)
print('student' in f.keys())

True
True

In [72]:
print("Prof. Curie" in f.values())

True

In [74]:
print("ALL keys in f list",f.keys())

ALL keys in f list dict_keys(['student', 'teacher'])

In [76]:
print("ALL values in f list",f.values())

ALL values in f list dict_values(['jennie', 'Prof. Curie'])